{% assign current = page.url | downcase | split: '/' %}


    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FBTFT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if current[1] == 'index.html' %}class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if current[1] == 'drivers.html' %}class="active"{% endif %}><a href="/drivers.html">Drivers</a></li>
            <li {% if current[1] == 'devices.html' %}class="active"{% endif %}><a href="/devices.html">Devices</a></li>
            <li {% if current[1] == 'displays.html' %}class="active"{% endif %}><a href="/displays.html">Displays</a></li>
            <li {% if current[1] == 'news.html' %}class="active"{% endif %}><a href="/news.html">News</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Platform <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/platform/rpi.html">Raspberry Pi</a></li>
                <li><a href="/platform/bbb.html">BeagleBone Black</a></li>
                <li><a href="#">Overo</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
